* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
html {
  /* prevent scrollbar from repositioning page */
  overflow-y: scroll; 
}
button {
  cursor: pointer;
}
body {
  background: #333;
}
a {
  text-decoration: none;
}

main {
  width: 550px;
  min-height: 80vh;
  margin: auto;
  background: #fff;
}

/* Header jsx */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: rgba(0, 0, 0, 0.74) url(../src/assets/background-image.jpg);
  background-size: cover;
  background-position-y: 25%;
  background-blend-mode: multiply;
}
.header .theme-btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.header .theme-btn button {
  background: none;
  border: none;
  color: #fff;
  font-size: 22px;
  margin-right: 20px;
}
.header .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 42px;
}
.header .text h2 {
  font-size: 42px;
  font-weight: 900;
  color: white;
}
.header .text span {
  color: white;
  font-size: 14px;
  font-weight: 700;
}

/* Search bar */
.search {
  display: flex;
  justify-content: center;
  transform: translateY(-18px);
}
.search .search-bar {
  position: relative;
}
.search .fa-search {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #6b7280;
}
.search input {
  width: 340px;
  height: 40px;
  padding-left: 42px;
  color: #6b7280;
  background: #f9fafb;
  border: 1px solid #d1d5db;
  border-right: none;
  border-radius: 6px 0 0 6px;
}
.search input:focus {
  outline: none;
}
.search button {
  width: 120px;
  height: 40px;
  background: #f9fafb;
  border: 1px solid #d1d5db;
  border-radius: 0 6px 6px 0;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-page .content {
  margin-top: -20px;
}
.my-page .content {
  margin-top: 20px;
}

/* Empty Results */
.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  color: #dfdddd;
}
.empty .default {
  font-size: 70px;
}
.empty .default.fa-spinner {
  animation-name: spin;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(8);
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.empty p {
  font-weight: 700;
  font-size: 18px;
}
.empty .link {
  color: #363636;
  margin-top: 15px;
  font-weight: 700;
}
.empty .link:hover {
  color: cornflowerblue;
}
.empty .link i {
  margin-right: 8px;
}

/* Search Result jsx */
.movie-block {
  padding: 0 44px;
  width: 100%;
}
.movie {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 36px 0;
  border-bottom: 1px solid #e5e7eb;
}
.movie .image {
  max-width: 100px;
  min-width: 100px;
  position: relative;
}
.movie img {
  width: 100px;
  height: 148px;
}

.movie-detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.movie-detail .title {
  display: flex;
}
.movie-detail .title h3 {
  flex: 6;
  font-size: 18px;
  font-weight: 500;
}
.movie-detail .title button {
  background: none;
  border: none;
}
.movie-detail .title button {
  font-size: 20px;
  color: #6b7280;
}
.movie-detail .title button:hover {
  color: indianred;
}
.movie-detail .title .fa-bookmark {
  color: indianred;
}

.movie-detail .detail {
  display: flex;
  gap: 18px;
  font-size: 12px;
  color: #404249;
}
.movie-detail .detail .rating {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 14px;
}
.movie-detail .detail i {
  color: #fec654;
  margin-right: 4px;
}
.movie-detail .synopsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #6b7280;
  font-size: 14px;
  line-height: 20px;
}


/* Dark Theme */
main.dark-theme {
  background: #121212;
}
main.dark-theme .theme-btn i {
  color: #fff;
}
main.dark-theme .empty {
  color: #2e2e2f;
}
main.dark-theme .empty .link {
  color: #fff;
}
main.dark-theme .empty .link:hover {
  color: cornflowerblue;
}
main.dark-theme .search .fa-search {
  color: #9ca3af;
}
main.dark-theme .search input {
  color: #a5a5a5;
  background: #2e2e2f;
  border: none;
}
main.dark-theme .search button {
  color: #fff;
  background: #4b4b4b;
  border: none;
}
main.dark-theme .movie {
  border-bottom: 1px solid #2c2c2c;
}

main.dark-theme .movie-detail {
  color: #fff;
}

main.dark-theme .detail {
  color: #fff;
}

main.dark-theme .synopsis {
  color: #a5a5a5;
}
