* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
button {
  cursor: pointer;
}
body {
  background: #333;
}
main {
  height: 100vh;
  width: 550px;
  margin: auto;
  background: #fff;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: rgba(0, 0, 0, 0.74) url(../src/assets/background-image.jpg);
  background-size: cover;
  background-position-y: 25%;
  background-blend-mode: multiply;
}
.header .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 550px;
}
.header .links h2 {
  font-size: 42px;
  font-weight: 900;
  color: white;
}
.header .links button {
  background: none;
  border: none;
  color: white;
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search {
  position: relative;
  transform: translateY(-20px);
}
.search .fa-search {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #6b7280;
}
.search input {
  width: 340px;
  height: 40px;
  padding-left: 42px;
  color: #6b7280;
  background: #f9fafb;
  border: 1px solid #d1d5db;
  border-right: none;
  border-radius: 6px 0 0 6px;
}
.search input:focus {
  outline: none;
}
.search button {
  width: 120px;
  height: 40px;
  background: #f9fafb;
  border: 1px solid #d1d5db;
  border-radius: 0 6px 6px 0;
}
.content .movies {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .movies .fa-film {
  font-size: 70px;
  color: #dfdddd;
}
.content .movies p {
  font-weight: 700;
  font-size: 18px;
  color: #dfdddd;
}