* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
html {
  /* prevent scrollbar from repositioning page */
  overflow-y: scroll; 
}
button {
  cursor: pointer;
}
body {
  background: #333;
}
a {
  text-decoration: none;
}

main {
  width: 550px;
  min-height: 80vh;
  margin: auto;
  background: #fff;
}

/* Header jsx */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: rgba(0, 0, 0, 0.74) url(../src/assets/background-image.jpg);
  background-size: cover;
  background-position-y: 25%;
  background-blend-mode: multiply;
}
.header .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 42px;
}
.header .text h2 {
  font-size: 42px;
  font-weight: 900;
  color: white;
}
.header .text span {
  color: white;
  font-size: 14px;
  font-weight: 700;
}

/* Search bar */
.search {
  display: flex;
  justify-content: center;
  transform: translateY(-18px);
}
.search .search-bar {
  position: relative;
}
.search .fa-search {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #6b7280;
}
.search input {
  width: 340px;
  height: 40px;
  padding-left: 42px;
  color: #6b7280;
  background: #f9fafb;
  border: 1px solid #d1d5db;
  border-right: none;
  border-radius: 6px 0 0 6px;
}
.search input:focus {
  outline: none;
}
.search button {
  width: 120px;
  height: 40px;
  background: #f9fafb;
  border: 1px solid #d1d5db;
  border-radius: 0 6px 6px 0;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-page .content {
  margin-top: -20px;
}
.my-page .content {
  margin-top: 20px;
}

/* default Empty Result */
.movies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.movies .fa-film {
  font-size: 70px;
  color: #dfdddd;
}
.movies p {
  font-weight: 700;
  font-size: 18px;
  color: #dfdddd;
}

/* Search Result jsx */
.movie-block {
  padding: 0 44px;
}
.movie {
  display: flex;
  gap: 20px;
  padding: 36px 0;
  border-bottom: 1px solid #e5e7eb;
}
.movie .image {
  position: relative;
}
.movie img {
  width: 100px;
  height: 148px;
}

.movie-detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.movie-detail .title {
  display: flex;
}
.movie-detail .title h3 {
  flex: 6;
  font-size: 18px;
  font-weight: 500;
}
.movie-detail .title button {
  background: none;
  border: none;
}
.movie-detail .title button {
  font-size: 20px;
  color: #6b7280;
}
.movie-detail .title button:hover {
  color: indianred;
}
.movie-detail .title .fa-bookmark {
  color: indianred;
}

.movie-detail .detail {
  display: flex;
  gap: 18px;
  font-size: 12px;
  color: #404249;
}
.movie-detail .detail .rating {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 14px;
}
.movie-detail .detail i {
  color: #fec654;
  margin-right: 4px;
}
.movie-detail .synopsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #6b7280;
  font-size: 14px;
  line-height: 20px;
}