:root {
  --dark-bg-black: #202529;
  --dark-font-primary: #fff;
  --dark-font-secondary: #d2dbe4bf;

  --dark-btn-bg: #9461fb;
  --dark-btn-bg-hover: #6528e0;
  --dark-btn-bg-active: #5a23c8;

  --light-bg-blue: #eaf2fc;
  --light-font-black: #2b2839;

  --light-btn-bg: #fff;
}

/* global */
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #0e1114;
  font-family: 'Inter', sans-serif;
}
.logo {
  font-size: 4rem;
}
h1 {
  font-family: 'Poppins', sans-serif;
}
button {
  cursor: pointer;
}

.main-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 120px;
  margin: auto;
  border: 1px solid white;
  color: var(--light-font-black);
  background: var(--light-bg-blue);
}
.main-app h4 {
  margin-top: 0;
}
.activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.activity .properties {
  color: var(--light-font-black);
  width: 160px;
}
.bored-btn {
  font-size: 1.2rem;
  margin-top: 2rem;
  padding: .8rem 2rem;
  color: var(--dark-font-primary);
  background: var(--dark-btn-bg);
  border-radius: 9px;
  border: none;
  box-shadow: 2px 2px 10px 2px #e6e0ff;
}
.bored-btn:hover {
  background: var(--dark-btn-bg-hover);
  transition: .2s;
}
.bored-btn:active {
  background: var(--dark-btn-bg-active);
}
.theme-btn {
  font-size: 1rem;
  margin-top: 40px;
  color: var(--light-font-black);
  background: var(--light-bg-blue);
  border: none;
}
.theme-btn:hover {
  text-decoration: underline;
}

/* dark-theme */
.main-app.dark-theme {
  color: var(--dark-font-primary);
  background: var(--dark-bg-black);
}
.dark-theme .bored-btn {
  box-shadow: none;
}
.dark-theme .activity .properties {
  color: var(--dark-font-secondary);
}
.dark-theme .theme-btn {
  margin-top: 40px;
  color: var(--dark-font-secondary);
  background: var(--dark-bg-black);
  border: none;
}