:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #293264;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  /* width: 680px; */
}
.title-page {
  text-align: center;
}
.title {
  color: #293264;
}
.subtitle {
  color: #293264;
}
h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

.quiz-start {
  border-radius: 15px;
  border: none;
  width: 193px;
  height: 52px;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #4d578e;
  color: #f5f7fb;
}
button:hover {
  background-color: #5b5dd8;
  cursor: pointer;
}
button:active {
  background: #4d4fc0;
}

.question-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.question-block hr {
  width: 100%;
  outline: .2px solid #dbdef0;
  border: none;
  margin: 26px 0 0;
}
.answers {
  display: flex;
  gap: 24px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]+label {
  display: inline-block;
  min-width: 60px;
  text-align: center;
  padding: 4px 16px;
  border: 1px solid #4d5b9e;
  border-radius: 13px;
  font-size: .9rem;
  cursor: pointer;
}
input[type="radio"]:checked+label {
  background-color: #d6dbf5;
  border: 1px solid #d6dbf5;
}
.btn-check {
  align-self: center;
  max-width: 240px;
  margin-top: 32px;
  background: #4d589e;
  color: #f5f7fb;
  font-size: 1rem;
  font-weight: bold;
  padding: 18px 40px;
  border-radius: 14px;
  border: none;
}