* {
  box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f55a5a;
  color: #fff;
  height: 55px;
}

.container {
  margin: 20px auto;
  padding: 20px 0;
  width: fit-content;
  border-radius: 9px;
  background-color: #fafafa;
  box-shadow: .5rem .5rem 5rem rgba(0,0,0,.25);
}
.card {
   display: flex;
   max-width: 590px;
   padding: 35px 60px;
}
.card>.image {
   width: 125px;
   flex-shrink: 0;
   height: 168px;
   overflow: hidden;
   border-radius: 5px;
}
.image img {
   height: 100%;
   transform: translateX(-25%);
}
.card>.text {
   margin-left: 20px;
   height: fit-content;
   align-self: center;
   color: #2b283a;
   font-size: 11px;
}
.card>.text .fa-map-marker {
   color: #f55a5a;
}
.card>.text .country {
   margin-left: 4px;
   text-transform: uppercase;
   letter-spacing: .13rem;
   line-height: 150%;
}
.card>.text .google-maps-url {
   margin-left: 13px;
   color: #918e9b;
}
.card>.text .title {
   margin-top: 6px;
   font-size: 25px;
}
.card>.text .date {
   margin-top: 16px;
   font-weight: bold;
}
.card>.text .description {
   margin-top: 9px;
   line-height: 1.5;
}

